* {
  padding: 0;
  margin: 0;
}

@font-face{
	font-family:MuktaB;
	src: url("assets/fonts/Mukta/Mukta-Bold.ttf");
}

nav{
    width: 100%;
    background: red url('images/header.png') no-repeat;
    background-size: 100%;
	display: block;
}

nav ul {
	text-align: right;
	height: auto;
	display: inline;
	float: right;
}
nav ul li{
	font-family: MuktaB;
	display: inline;
	margin: 20px;
	font-size: 23px;
}
/*
nav ul li img{
	text-align:left;
	width:100%;
	height:auto;
	display:inline;
}
*/
/*
.image li{
	list-style-type: none;
	width: 100%;
}
.image{
	width: 15%;
}
*/
